* CSS reset */
*, *:before, *:after { 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}
/* fonte corpo */
/* latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/fredokaone/v8/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/signika/v12/vEFO2_JTCgwQ5ejvMV0O96D01E8J0tIJHKbOjM7sfA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/signika/v12/vEFO2_JTCgwQ5ejvMV0O96D01E8J0tIJHKbPjM7sfA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/signika/v12/vEFO2_JTCgwQ5ejvMV0O96D01E8J0tIJHKbBjM4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* fonte para destaque */
/* latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/fredokaone/v8/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.navbar-default {
  background-color: #341419;
  border-color: #341419;
}
.navbar-default .navbar-brand {
  color: #341419;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #341419;
}
.navbar-default .navbar-text {
  color: #341419;
}
.navbar-default .navbar-nav > li > a {
  color: #ddd0c8; /* cor da letra */
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff; /* cor ao colocar o mouse em cima */
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #DCDCDC; /* cor da caixinha */
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #696969;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff; /* cor da letra quando passa o mouse dentro da caixinha */
  background-color: #DCDCDC; /* cor da caixinha dentro da caixinha */
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #DCDCDC;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #DCDCDC;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #DCDCDC;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /* cor dos link na barra de navegação */
  color: #ffffff;
  background-color: #DCDCDC; 
}
.navbar-default .navbar-toggle {
  border-color: #DCDCDC;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #DCDCDC;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #f6f92b;
}

@media (max-width: 800px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f6f92b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f6f92b;
    background-color: #c0392b;
  }
}
body{
  background-color: #341419;
}
nav img{
  margin: 3px;
}
nav{ 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 2px;
}
nav ul{

  text-align: left;
}
nav li{
  display: inline;
  font-size: 1.2em;
  color: white;
}
nav li a {
  display: inline-block;
  color:white;
  padding-top: 8px; 
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  background-color: 000;
}
.padDireita {
  padding-right: 15px;
}
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a {
  background-color: #ddd0c8;
  color: #341419;
  font-family: 'Signika';
}
.nav-tabs>li>a,
.tab-content>div>h2,
.tab-content>div>p {
  font-family: 'Signika';
  color: #ddd0c8;
}
div h4{
  font-family: 'Fredoka One';
  color: #ddd0c8;
}
h2{
  font-family: 'Fredoka One';
  color: #ddd0c8;
}
h5{
  font-family: 'Signika';
  color: #ddd0c8;
}
/* FOTO */
#box {
  width: 600px;
  height: auto;
  margin: 5px auto;
  display: block;
  margin-bottom: 50px;
}
#box:after {
  display: block;
  content: '.';
  line-height: 0;
  visibility: hidden;
}
.estilizacao {
  display: block;
  width: 600px;
  list-style: none;
}
.estilizacao li {
  position: relative;
  display: block;
  float: left;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.estilizacao li img {
  width: 70%;
  height: 70%;
  display: block;
  z-index: 999;
  position: absolute;
  transition:.5s;
}
.estilizacao li:hover img {
  margin-top:-80px;
}
.btn-more {
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
  float: right;
  padding:3px 10px;
  background: #AE2341;
  border-radius: 4px;
  
}